@model IEnumerable<WebFayre.Models.Feira>
@{
    IEnumerable<Feira> favorites = ViewData["favorite"] as IEnumerable<Feira>;
}

@{
    ViewData["Title"] = "Home Page";
}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js" charset="utf-8"></script>
<script type="text/javascript" src="/js/site.js"></script>




<!-- ###################### CAROUSEL STARTS HERE ###################### -->
<!-- Favorites listed in a carousel row -->
<section>
    <div class="slider-row">

        <div class="slider-header">
            <h3 class="fav"> Favorites </h3>
            <div class="slider-track">
                <div class="track-item active"></div>
                <div class="track-item"></div>
                <div class="track-item"></div>
                <div class="track-item"></div>
            </div>
        </div>

        <div class="carousel-container">
            <!-- Previous button the left side to control carousel-->
            <button class="carousel-handler previous" type="button" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden"></span>
            </button>

            <!-- Carousel displaying favorite fairs cards -->
            <div class="carousel-slider">
                @foreach(var item in favorites)
                {
                    <div class="card">
                        <div class="card-body">
                            <img class="card-img-top" src="https://via.placeholder.com/210?text=IMGFEIRA" alt="">
                            <h5 class="card-title dynamic-name">@item.Nome</h5>
                            <p class="card-text">@item.Descricao</p>
                            <a class="btn btn-primary" asp-area="" asp-controller="Feiras" asp-action="AddFavorite" asp-route-id="@item.IdFeira">Fav</a>
                            <a class="btn btn-primary" asp-area="" asp-controller="Feiras" asp-action="Details" asp-route-id="@item.IdFeira">More Info</a>
                        </div>
                    </div>
                }         
                

            <button class="carousel-handler next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden"></span>
            </button>
        </div>
        <!-- fix this HR -->
        <hr/>
    </div>
</section>
<!-- XXXXXXXXXXXXXXXXXXXX CAROUSEL ENDS HERE XXXXXXXXXXXXXXXXXXXX -->





<!-- ##################### DISPLAY CONTENT STARTS HERE #################### -->
<!-- List of X fairs sorted by date without any search -->
<div id="main-wrapper">
    <div class="container">
        <div id="main-content">
            <section class="block-area block-area-home">
                <div class="block-area-header">
                    <div class="float-left fv-heading mr-4">
                        <h2 class="fav-heading">Upcoming Fairs</h2>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="tab-content">
                    <div class="block-area-content block-area-list fairs-list fairs-list-grid">
                        <div class="fairs-list-wrap">
                            @foreach (var item in Model)
                            {
                            <div class="flw-item">
                                <div class="fairs-poster">
                                    @if (favorites.Contains(item))
                                    {
                                        <div class="tick fav">
                                                <a class="tick-item" asp-controller="Feiras"  asp-action="AddFavorite" asp-route-id="@item.IdFeira">&#9733;</a>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="tick fav">
                                            <a class="tick-item" asp-controller="Feiras" asp-action="AddFavorite" asp-route-id="@item.IdFeira">&#9734;</a>
                                        </div>
                                    }
                                       
                                        <img class="fairs-poster-img lazyload" src="https://mdbcdn.b-cdn.net/img/new/standard/city/041.webp" alt="@item.Nome">
                                </div>
                                <div class="fairs-detail">
                                    <h3 class="fairs-name">
                                            <a class="dynamic-name" asp-area="" asp-controller="Feiras" asp-action="Details" asp-route-id="@item.IdFeira">@item.Nome</a>
                                    </h3>
                                    <div class="fd-infor">
                                        <span class="fdi-item">@item.DataInicio</span><br>
                                        <span class="fdi-item fdi-duration">@item.DataFim</span>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>                           
                            }

                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </section>
            <div class="paginationFairs"></div>
            <div class="clearfix"></div>
        </div>
        <div id="main-sidebar">
            <section class="block-area block-area-sidebar block-area-search">
                <div class="block-area-header">
                    <div class="float-left fv-heading mr-4">
                        <h2 class="fav-heading">Search</h2>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="block-area-content">
                    <div class="cbox cbox-search">
                        <!-- SEARCH BAR -->
                        <form asp-action="SearchResult" asp-controller="Home">
                 
                            <div class="input-group">
                                <label for="nameFeira" class="control-label"></label>
                                <input name="nameFeira" placeholder="Search ... " class="form-control" />

                                <div class="input-group-append">
                                    <div class="input-group">
                                        <button type="submit" value="Search" class="btn btn-primary" id="search">
                                            <i class="fas fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <br>
                        <form asp-action="SearchDate" asp-controller="Home">
                            <div class="input-group">
                                <label for="dateInicio" class="control-label"></label>
                                <input type="date" name="dateInicio" class="form-control" />

                                <div class="input-group-append">
                                    <div class="input-group">
                                        <button type="submit" value="SearchDate" class="btn btn-primary" id="searchDate">
                                            <i class="fas fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>

                        @section scripts{
                            <script>
                                $(function () {
                                    $("#search").click(function () {
                                        $("Form").submit();
                                    })
                                    $("#searchDate").click(function () {
                                        $("Form").submit();
                                    })
                                });
                            </script>
                        }
                 
                    </div>

                    <div class="clearfix"></div>
                </div>
            </section>
        </div>
    </div>
</div>

<div class="clearfix"></div>
<!-- XXXXXXXXXXXXXXXXXXXX DISPLAY CONTENT ENDS HERE XXXXXXXXXXXXXXXXXXXX -->

