@model IEnumerable<WebFayre.Models.Feira>
@{
    IEnumerable<Feira> favorites = ViewData["favorite"] as IEnumerable<Feira>;
}

@{
    ViewData["Title"] = "Home Page";
}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js" charset="utf-8"></script>
<script type="text/javascript" src="/js/site.js"></script>




<!-- ###################### CAROUSEL STARTS HERE ###################### -->
<!-- Favorites listed in a carousel row -->
<section>
    <div class="slider-row">

        <div class="slider-header">
            <h3 class="fav"> Favorites </h3>
            <div class="slider-track">
                <div class="track-item active"></div>
                <div class="track-item"></div>
                <div class="track-item"></div>
                <div class="track-item"></div>
            </div>
        </div>

        <div class="carousel-container">
            <!-- Previous button the left side to control carousel-->
            <button class="carousel-handler previous" type="button" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden"></span>
            </button>

            <!-- Carousel displaying favorite fairs cards -->
            <div class="carousel-slider">
                @foreach(var item in favorites)
                {
                    <div class="card">
                        <div class="card-body">
                            <img class="card-img-top" src="https://via.placeholder.com/210?text=1" alt="">
                            <h5 class="card-title dynamic-name">@item.Nome</h5>
                            <p class="card-text">@item.Descricao</p>
                            <a class="btn btn-primary" asp-area="" asp-controller="Feiras" asp-action="AddFavorite" asp-route-id="@item.IdFeira">Fav</a>
                            <a class="btn btn-primary" asp-area="" asp-controller="Feiras" asp-action="Details" asp-route-id="@item.IdFeira">More Info</a>
                        </div>
                    </div>
                }         
                <div class="card">
                    <div class="card-body">
                        <img class="card-img-top" src="https://via.placeholder.com/210?text=1" alt="">
                        <h5 class="card-title dynamic-name">Nome</h5>
                        <p class="card-text">Descricao</p>
                        <a class="btn btn-primary" asp-area="" asp-controller="Feiras" asp-action="AddFavorite" asp-route-id="IdFeira">Fav</a>
                        <a class="btn btn-primary" asp-area="" asp-controller="Feiras" asp-action="Details" asp-route-id="IdFeira">More Info</a>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <img class="card-img-top" src="https://via.placeholder.com/210?text=1" alt="">
                        <h5 class="card-title dynamic-name">Nome</h5>
                        <p class="card-text">Descricao</p>
                        <a class="btn btn-primary" asp-area="" asp-controller="Feiras" asp-action="AddFavorite" asp-route-id="IdFeira">Fav</a>
                        <a class="btn btn-primary" asp-area="" asp-controller="Feiras" asp-action="Details" asp-route-id="IdFeira">More Info</a>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <img class="card-img-top" src="https://via.placeholder.com/210?text=1" alt="">
                        <h5 class="card-title dynamic-name">Nome</h5>
                        <p class="card-text">Descricao</p>
                        <a class="btn btn-primary" asp-area="" asp-controller="Feiras" asp-action="AddFavorite" asp-route-id="IdFeira">Fav</a>
                        <a class="btn btn-primary" asp-area="" asp-controller="Feiras" asp-action="Details" asp-route-id="IdFeira">More Info</a>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <img class="card-img-top" src="https://via.placeholder.com/210?text=1" alt="">
                        <h5 class="card-title dynamic-name">Nome</h5>
                        <p class="card-text">Descricao</p>
                        <a class="btn btn-primary" asp-area="" asp-controller="Feiras" asp-action="AddFavorite" asp-route-id="IdFeira">Fav</a>
                        <a class="btn btn-primary" asp-area="" asp-controller="Feiras" asp-action="Details" asp-route-id="IdFeira">More Info</a>
                    </div>
                </div>
            </div>

            <button class="carousel-handler next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden"></span>
            </button>
        </div>
        <!-- fix this HR -->
        <hr/>
    </div>
</section>
<!-- XXXXXXXXXXXXXXXXXXXX CAROUSEL ENDS HERE XXXXXXXXXXXXXXXXXXXX -->


<!-- SEARCH BAR -->
<div class="container-fluid padding">
    <div class="row search-bar text-center">
        <div class="col-12">

            <form asp-action="SearchResult" asp-controller="Home">
                <div class="input-group">
                    <label for="nameFeira" class="control-label"></label>
                    <input name="nameFeira" placeholder="Search ... " class="form-control" />
                    <div class="input-group-append">
                        <div class="input-group">
                            <button type="submit" value="Search" class="btn btn-primary" id="search">
                                <i class="fas fa-search"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </form>
            @section scripts{
                <script>
                    $(function () {
                        $("#search").click(function () {
                            $("Form").submit();
                        })
                    });
                </script>
            }

        </div>
    </div>
</div>


<!-- ##################### DISPLAY CONTENT STARTS HERE #################### -->
<!-- List of X fairs sorted by date without any search -->
<div class="displayContainer">
    <div class="card-content" style="display: 10">
        @foreach (var item in Model)
        {
        <div class="card-display">
            <div class="card-image"><img src="https://mdbcdn.b-cdn.net/img/new/standard/city/041.webp"></div>
            <div class="card-info">
                    <a asp-area="" asp-controller="Feiras" asp-action="Details" asp-route-id="@item.IdFeira"><h3>@item.Nome</h3></a>
                <p> @item.DataInicio </p>
            </div>
        </div>
        }
    </div>

    <div class="pagination">
    </div>

</div>
<!-- XXXXXXXXXXXXXXXXXXXX DISPLAY CONTENT ENDS HERE XXXXXXXXXXXXXXXXXXXX -->

