@model IEnumerable<WebFayre.Models.Vendum>
@using System.Text.RegularExpressions;

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Data)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Total)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValorRegateio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stand)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Utilizador)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VendaProdutos)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Data)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Total)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValorRegateio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Stand.Feira.Nome)
                ,
                @Html.DisplayFor(modelItem => item.Stand.Nome)

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Utilizador.Nome)
            </td>
            <td>
                    @{
                        var produtos = string.Join("; ", item.VendaProdutos.Select(vp => new { vp.Produto.Descricao, vp.Quantidade, vp.Preco }).ToList());

                        produtos = Regex.Replace(produtos, @"[{}]", "");
                        produtos = Regex.Replace(produtos, @",(?=\d+,)", ".");
                    }
                @produtos
            </td>
            <td>
                    <a asp-action="Edit" asp-controller="Vendas" asp-route-id="@item.IdVenda">Edit</a> |
                    <a asp-action="Details" asp-controller="Vendas" asp-route-id="@item.IdVenda">Details</a> |
                    <a asp-action="Delete" asp-controller="Vendas" asp-route-id="@item.IdVenda">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
