@model WebFayre.Models.Utilizador
@using System.Text.RegularExpressions;
@{
   IEnumerable<Stand> stands = ViewData["Stands"] as IEnumerable<Stand>;
}
<h4>@Html.Raw(ViewBag.UpdateMessage)</h4>

<div class="container-fluid padding">
    <div class="profile">
        <div class="row">        
            <div class="col-8">
                <b>@Html.DisplayNameFor(model => model.Nome):</b> @Html.DisplayFor(model => model.Nome) <br>

                <b>@Html.DisplayNameFor(model => model.Email):</b> @Html.DisplayFor(model => model.Email) <br>

                <b>@Html.DisplayNameFor(model => model.Rua):</b> @Html.DisplayFor(model => model.Rua), @Html.DisplayFor(model => model.Porta) <br>

                <b>@Html.DisplayNameFor(model => model.CodigoPostal):</b> @Html.DisplayFor(model => model.CodigoPostal) <br>

                <b>@Html.DisplayNameFor(model => model.Telemovel):</b> @Html.DisplayFor(model => model.Telemovel) <br>

                <b>@Html.DisplayNameFor(model => model.Nif):</b> @Html.DisplayFor(model => model.Nif) <br>

                <b>@Html.DisplayNameFor(model => model.DataNascimento):</b> @Html.DisplayFor(model => model.DataOnly) <br>
            </div>
            <div class="col">
                <a class="btn btn-profile" data-toggle="modal" data-target="#editProfile" asp-action="Edit" asp-controller="Utilizadores" asp-route-id="@Model.Id">Edit Profile</a> <br>
                <a class="btn btn-profile" data-toggle="modal" data-target="#myStands" asp-action="MyStands" asp-controller="Utilizadores">My Stands</a><br>
                <a class="btn btn-profile" data-toggle="modal" data-target="#myPurchases" asp-action="Index" asp-controller="Home">Purchases</a><br>
                <a class="btn btn-profile" data-toggle="modal" data-target="#myVisitedFairs" asp-action="Index" asp-controller="Home">Visited Fairs</a>
            </div>
        </div>

    </div>
</div>

<!-- MODAL EDIT PROFILE-->
<div class="modal fade" id="editProfile" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Edit Profile</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col">
                        <form asp-action="Edit">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input type="hidden" value="@Model?.Id" asp-for="Id" />

                            <div class="form-group">
                                <label asp-for="Nome" class="control-label"></label>
                                <input asp-for="Nome" class="form-control" />
                                <span asp-validation-for="Nome" class="text-danger"></span>
                            </div>
                            <input asp-for="Password" value="@Model?.Password" type="hidden" class="form-control" />
                            <div class="form-group">
                                <label asp-for="Email" class="control-label"></label>
                                <input asp-for="Email" class="form-control" />
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Rua" class="control-label"></label>
                                <input asp-for="Rua" class="form-control" />
                                <span asp-validation-for="Rua" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Porta" class="control-label"></label>
                                <input asp-for="Porta" class="form-control" />
                                <span asp-validation-for="Porta" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="CodigoPostal" class="control-label"></label>
                                <input asp-for="CodigoPostal" class="form-control" />
                                <span asp-validation-for="CodigoPostal" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Telemovel" class="control-label"></label>
                                <input asp-for="Telemovel" class="form-control" />
                                <span asp-validation-for="Telemovel" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Nif" class="control-label"></label>
                                <input asp-for="Nif" class="form-control" />
                                <span asp-validation-for="Nif" class="text-danger"></span>
                            </div>
                            <input asp-for="DataNascimento" value="@Model?.DataNascimento" type="hidden" class="form-control" />
                            <input asp-for="UtilizadorPath" value="@Model?.UtilizadorPath" type="hidden" class="form-control" />
                            <div class="modal-footer">
                                <div class="form-group">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <input type="submit" value="Save" class="btn btn-primary" />
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- MODAL MY STANDS (LIST OF STANDS I HAVE ACESS TO AS "MANAGER")-->
<div class="modal fade" id="myStands" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">My Stands</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                Stand Name
                            </th>
                            <th>
                                Fairs
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach(var item in stands)
                        {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Nome)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Feira.Nome)
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
        
            </div>
        </div>
    </div>
</div>


<!-- MODAL MY PURCHASES (LIST OF PURCHASES I HAVE ACESS TO AS "MANAGER")-->
<div class="modal fade" id="myPurchases" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">My Purchases</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                Date
                            </th>
                            <th>
                                Total
                            </th>
                            <th>
                                Stand
                            </th>
                            <th>
                                Products
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Venda)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Data)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Total)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Stand.Nome)
                                </td>
                                <td>
                                    @foreach(var prod in item.VendaProdutos){
                                        @Html.DisplayFor(modelProd => prod.Quantidade)@Html.DisplayFor(modelProd =>
                                            prod.Produto.Name)@Html.DisplayFor(modelProd => prod.Preco)<br>
                                    }
                                </td>

                            </tr>
                        }
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>


<!-- MODAL MY VISITED FAIRS (LIST OF VISITED FAIRS I HAVE ACESS TO AS "MANAGER")-->
<div class="modal fade" id="myVisitedFairs" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Fairs History</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                Name
                            </th>
                            <th>
                                Start Date
                            </th>
                            <th>
                                End Date
                            </th>
                            <th>
                                Price
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var feiras in Model.IdFeiras)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelFeiras => feiras.Nome)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelFeiras => feiras.DataInicio)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelFeiras => feiras.DataFim)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelFeiras => feiras.PrecoBase)
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>
