@model WebFayre.Models.Utilizador

<h4>@Html.Raw(ViewBag.UpdateMessage)</h4>

<div class="row">
    <div class = "col-sm-2">
        @Html.DisplayNameFor(model => model.Nome)
    </div>
    <div class = "col-sm-10">
        @Html.DisplayFor(model => model.Nome)
    </div>
    <div class = "col-sm-2">
        @Html.DisplayNameFor(model => model.Email)
    </div>
    <div class = "col-sm-10">
        @Html.DisplayFor(model => model.Email)
    </div>
    <div class = "col-sm-2">
        @Html.DisplayNameFor(model => model.Password)
    </div>
    <div class = "col-sm-10">
        @Html.DisplayFor(model => model.Password)
    </div>
    <div class = "col-sm-2">
        @Html.DisplayNameFor(model => model.Rua)
    </div>
    <div class = "col-sm-10">
        @Html.DisplayFor(model => model.Rua)
    </div>
    <div class = "col-sm-2">
        @Html.DisplayNameFor(model => model.Porta)
    </div>
    <div class = "col-sm-10">
        @Html.DisplayFor(model => model.Porta)
    </div>
    <div class = "col-sm-2">
        @Html.DisplayNameFor(model => model.CodigoPostal)
    </div>
    <div class = "col-sm-10">
        @Html.DisplayFor(model => model.CodigoPostal)
    </div>
    <div class = "col-sm-2">
        @Html.DisplayNameFor(model => model.Telemovel)
    </div>
    <div class = "col-sm-10">
        @Html.DisplayFor(model => model.Telemovel)
    </div>
    <div class = "col-sm-2">
        @Html.DisplayNameFor(model => model.Nif)
    </div>
    <div class = "col-sm-10">
        @Html.DisplayFor(model => model.Nif)
    </div>
    <div class = "col-sm-2">
        @Html.DisplayNameFor(model => model.DataNascimento)
    </div>
    <div class = "col-sm-10">
        @Html.DisplayFor(model => model.DataNascimento)
    </div>
    <div class = "col-sm-2">
        @Html.DisplayNameFor(model => model.UtilizadorPath)
    </div>
    <div class = "col-sm-10">
        @Html.DisplayFor(model => model.UtilizadorPath)
    </div>
</div>

<div>
    <a asp-action="Edit" asp-controller="Utilizadores" asp-route-id="@Model.Id">Editar Dados</a> |
    <a asp-action="MyStands" asp-controller="Utilizadores">Os meus Stands</a> |
    <a asp-action="Index" asp-controller="Home">Menu Principal</a>
</div>
