@model WebFayre.Models.Feira

@{
    ViewData["Title"] = "Details";
}


<div class="container">
    <div class="details-content">
        <div class="fairs">
            <div class="fairs-content">
                <div class="fairs-image">
                    <div>
                        <img src="https://via.placeholder.com/210?text=1" class="fairsImg"alt="feira1" />
                    </div>
                    <div class="fairs-info flex-row">
                        <span><b>From:&nbsp;</b><i class="fas fa-calendar-alt text-gray"></i>&nbsp;@Html.DisplayFor(model => model.DataInicio)&nbsp;</span>
                        <span><b>To:&nbsp;</b><i class="fas fa-calendar-alt text-gray"></i>&nbsp;@Html.DisplayFor(model => model.DataFim)&nbsp;</span>
                    </div>
                </div>
                <div class="fairs-title">
                    <h1>@Html.DisplayFor(model => model.Nome)</h1>
                    <p>
                        <b>Descrição:<br></b> @Html.DisplayFor(model => model.Descricao)<br><b>Capacidade: </b> @Html.DisplayFor(model => model.CapacidadeClientes) <b>NºStands: </b>@Html.DisplayFor(model => model.NStands)<br>
                    </p>
                    <p>
                        <b>Localização: </b>@Html.DisplayFor(model => model.Morada) <br>
                        <b>Patrocionadores: </b>@string.Join(", ", Model.Patrocinadors.Select(fc => fc.Nome).ToArray())
                    </p>
                    <p>
                        <b>Contactos:<br></b><i class="fas fa-envelope text-gray"></i>&nbsp;@Html.DisplayFor(model => model.Email)&nbsp;<br>
                        <i class="fas fa-phone text-gray"></i>&nbsp;@Html.DisplayFor(model => model.Telefone)&nbsp;<br>
                    </p>
                    <a class="btn btn-primary" asp-action="Enter" asp-route-id="@Model.IdFeira">Visit Fair &nbsp;<i class="fas fa-arrow-right"></i></a>
                    <a class="btn btn-primary" asp-action="AddFavorite" asp-route-id="@Model.IdFeira">Favorite <i class="fas fa-star"></i></a>

                </div>
            </div>
            
        </div>
        <aside class="catFairs">
            <h1> Categorias </h1>

            @foreach (var category in Model.FeiraCategoria1s)
            {
                @Html.DisplayFor(m => category.Descricao)
                <br /> 

            }
        </aside>
    </div>


</div>
<div>
    <a asp-action="Index">Home</a>
</div>
