@model IEnumerable<WebFayre.Models.Produto>
@using Microsoft.AspNetCore.Http;
@using WebFayre.Common;
@using Newtonsoft.Json;


<script type="text/javascript">
    let standCart = @Html.Raw(JsonConvert.SerializeObject(ViewBag.StandShoppingCart));
</script>
<script type="text/javascript" src="/js/cart.js"></script>

@{
    ViewData["Title"] = "Index";
}

<form asp-action="ViewCart">
        <input type="submit" id ="process_cart" value="Create" class="btn btn-primary d-none"/>
</form>

<div id="main-wrapper">
    <div class="container">
        <div id="main-content">
            <section class="block-area block-area-home">
                <div class="block-area-header">
                    <div class="float-left fv-heading mr-4">
                        <h2 class="fav-heading">@Html.Raw(ViewBag.NomeStand)</h2>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="tab-content">
                    <div class="block-area-content block-area-list fairs-list fairs-list-grid">
                        <div class="fairs-list-wrap">
                            @foreach (var item in Model)
                            {
                                <div class="stand-item">
                                    <div class="fairs-poster">
                                        <div class="tick fav">
                                            <div class="tick-item"></div>
                                        </div>
                                        <img class="fairs-poster-img lazyload" src="https://mdbcdn.b-cdn.net/img/new/standard/city/041.webp" alt="@item.Name">
                                    </div>
                                    <div class="fairs-detail">
                                        <h3 class="fairs-name">
                                            <a class="dynamic-name" asp-area="" asp-controller="Produtos" asp-action="Details" asp-route-id="@item.IdProduto" data-toggle="modal" data-target="#modalProducts">@item.Name</a>
                                           
                                        </h3>
                                        <div class="fd-infor">
                                            @{
                                                var price = item.Preco.ToString().Replace(",", ".");
                                                var iva = item.Iva.ToString().Replace(",", ".");
                                            }      
                                            <div class="quantity">
                                                <span class="fdi-preço">@item.Preco €</span>
                                                <button class="rem" onclick="removeProduct(@item.IdProduto, @price)">-</button>                                                
                                                <input type="number" id="@item.IdProduto" value="0" min="0" max="@item.Stock" readonly />
                                                <button class="add" onclick="addProduct('@item.Descricao.ToString()', @item.IdProduto, @price, @iva, @item.Stock)">+</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            }

                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </section>
            <div class="paginationFairs"></div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>

<div class="clearfix"></div>

<input id="buy" type="button" value="Comprar" onclick="transplantCart()" />

<!-- MODAL MY modalProducts (LIST OF modalProducts I HAVE ACESS TO AS "MANAGER")-->
<div class="modal fade" id="modalProducts" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">My Stands</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                Product name
                            </th>
                            <th>
                                Stock
                            </th>
                            <th>
                                Price
                            </th>
                            <th>
                                IVA
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <!--Model.Select(p => p.IdProduto == i)-->
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Stock)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Preco)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Iva)
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>
