@model IEnumerable<WebFayre.Models.Produto>
@using Microsoft.AspNetCore.Http;
@using WebFayre.Common;
@using Newtonsoft.Json;

<script type="text/javascript">
    let standCart = @Html.Raw(JsonConvert.SerializeObject(ViewBag.StandShoppingCart));
</script>
<script type="text/javascript" src="/js/cart.js"></script>

@{
    ViewData["Title"] = "Index";
}


<h1>@Html.Raw(ViewBag.NomeStand)</h1>
<h4>Disponibilidade: @Html.Raw(ViewBag.Disponibilidade)</h4>

@ViewBag.EmptyCart
<form asp-action="ViewCart">
        <input type="submit" id ="process_cart" value="Create" class="btn btn-primary d-none"/>
</form>

<input id="buy" type="button" value="Comprar" onclick="transplantCart()" />

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stock)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Preco)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Iva)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Descricao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Stock)
                </td>
                <td>
                    @{
                        var dotPrice = item.Preco.ToString().Replace(",", ".");
                    }
                    @Html.DisplayFor(modelItem => dotPrice)
                </td>
                <td>
                    @{
                        var dotIva = item.Iva.ToString().Replace(",", ".");
                    }
                    @Html.DisplayFor(modelItem => dotIva)
                </td>
                <td>

                    @{
                        var price = item.Preco.ToString().Replace(",", ".");
                        var iva = item.Iva.ToString().Replace(",", ".");
                    }
                    <button onclick="addProduct(@item.IdProduto, @price, @iva, @item.Stock)">Adicionar</button>
                    <input type="number" id="@item.IdProduto" value="0" min="0" max="@item.Stock" readonly/>
                    <button onclick="removeProduct(@item.IdProduto, @price)">Remover</button>

                    <a asp-action="Details" asp-route-id="@item.IdProduto">Details</a> |
                </td>
            </tr>
        }
    </tbody>
</table>
