@model IEnumerable<WebFayre.Models.Produto>

<p>
    <a asp-action="Create" asp-route-id="@ViewBag.IdStand">Create new product</a>
</p>
<h4>Disponibilidade: @Html.Raw(ViewBag.Disponibilidade)</h4>
<p>
    <a asp-action="ChangeDisp" asp-route-id="@ViewBag.IdStand">Abrir/Fechar Stand</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stock)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Preco)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Iva)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Stock)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Preco)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Iva)
            </td>
            <td>
                <a asp-action="Restock" asp-route-id="@item.IdProduto" asp-route-standId="@item.StandId">Restock</a> |
                <a asp-action="Details" asp-route-id="@item.IdProduto">Details</a> 
            </td>
        </tr>
}
    </tbody>
</table>
<div>
    <a asp-action="Sales" asp-controller="Stands" asp-route-id="ViewBag.IdStand">Sales done</a>
</div>