@model WebFayre.Models.Promocaofeira

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Promocaofeira</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CapacidadeUtilizadores)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CapacidadeUtilizadores)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descricao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NStands)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NStands)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdFuncionario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdFuncionario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdUtilizadorNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdUtilizadorNavigation.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdPromocaoFeira">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
