@model IEnumerable<WebFayre.Models.Promocaofeira>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CapacidadeUtilizadores)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NStands)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsValidado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdFuncionarioNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdUtilizadorNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CapacidadeUtilizadores)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NStands)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.isValidated)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdFuncionarioNavigation.IdFuncionario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdUtilizadorNavigation.Id)
            </td>
            <td>
                <a asp-action="Accept" asp-route-id="@item.IdPromocaoFeira">Accept</a> |
                <a asp-action="Reject" asp-route-id="@item.IdPromocaoFeira">Reject</a> |
                <a asp-action="Details" asp-route-id="@item.IdPromocaoFeira">Details</a> |
            </td>
        </tr>
}
    </tbody>
</table>
