@model IEnumerable<WebFayre.Models.Promocaofeira>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CapacidadeUtilizadores)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NStands)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdFuncionarioNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdUtilizadorNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CapacidadeUtilizadores)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NStands)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdFuncionario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdUtilizadorNavigation.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdPromocaoFeira">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdPromocaoFeira">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdPromocaoFeira">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
